<div class="employer">
  <h1>Employer</h1>

  <ol>
    <li *ngFor="let smartcontract of smartcontracts; let ind = index">
      <div class="smartcontract-{{ind + 1}}">
        <h2>Smart contract {{ind + 1}}</h2>
        <ul>
          <li>Annual Salary: {{smartcontract.salary}}</li>
          <li>Start Date: {{smartcontract.startDate | date:'yyyy-MM-dd'}}</li>
          <li *ngIf="smartcontract.endDate">End Date: {{smartcontract.endDate | date:'yyyy-MM-dd'}}</li>
          <li *ngIf="smartcontract.endDate">End Date: {{smartcontract.endDate | date: 'yyyy-MM-dd'}}</li>
          <li>Employer: {{smartcontract.company}}</li>
          <li>Franchise Amount: {{smartcontract.franchise}}</li>
          <li>Rate: {{smartcontract.accrual}}</li>
          <li>Total pension: {{smartcontract.totalSavings}}</li>
        </ul>
      </div>
    </li>
  </ol>
</div>
