<div class="employer">
  <h1>Employer</h1>

  <ol>
    <li *ngFor="let smartcontract of smartcontracts; let ind = index">
      <div class="smartcontract-{{ind + 1}}">
        <h2>Smart contract {{ind + 1}}</h2>
        <ul>
          <li>Annual Salary: {{smartcontract.annualSalary}}</li>
          <li>Start Date: {{smartcontract.startDate}}</li>
          <li>End Date: {{smartcontract.endDate}}</li>
          <li>Employer: {{smartcontract.employerName}}</li>
          <li>Franchise Amount: {{smartcontract.franchiseAmount}}</li>
          <li>Rate: {{smartcontract.accrualRate}}</li>
          <li>Total pension: {{smartcontract.totalSavings}}</li>
        </ul>
      </div>
    </li>
  </ol>
</div>
