.top-part {
    display: flex;
    direction: row;
    height: 92vh;
}

.top-part>div {
    flex: 1;
    border: 2px solid darkgray;
    border-radius: 10px;
    margin: 2px;
}

.total-container {
    display: flex;
    flex-direction: column;
}

.bottom-part {
    height: 8vh;
    border-top: 1px solid darkgray;
}
